@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300i,400i");

body {
    font-family: 'Courier New', monospace;
	font-size: 22px;
	font-weight: 300;
	overflow-x: hidden;
}

a, button {
	transition: all 0.3s ease;
	color: #000000;
}

button:focus {
    outline: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	outline: none;
}

h1 {
	color: #FFFFFF;
	font-size: 4rem;	
}

p {
	color: #FFFFFF;	
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.cb-slideshow-text-container {
    width: 100%;
    height: 90vh;
    display: flex;
    margin: 0px 0px; 
    align-items: center;
}

.tm-content {
    z-index: 1000;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.form-control::placeholder {
    color: white;
}

.form-control {  
    color: #FFFFFF;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.75rem 1.2rem;
}

.form-section {  
    color: #FFFFFF;
    background-color: transparent;
    margin-bottom: 100px;
    
}

.contact_email {
	color: #FFFFFF;
}

.tm-btn-subscribe {
	background-color: #006699;
	border-radius: .5rem;
    border-color: white;
	padding: 0.75rem 1.6rem;
    font-weight: 300;
    font-size: 1.4rem;
    cursor: pointer;
}

.tm-btn-subscribe:hover {
    background-color: #055278;
}

.tm-social-icons-container {
    margin: 10px -10px 10px;
}

.tm-social-link {
    border-color: #FFFFFF;
    color: black;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.fa {
    color: #FFFFFF;
}

.footer-link {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    text-align:center;
}

.footer-link-personal {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    text-align:center;
}

.footer-link > small {
    border-bottom: 1px solid #fff;
    font-size: 12px;
    letter-spacing: 5px;
}

.footer-link-personal > small {
    border-bottom: 1px solid #fff;
    font-size: 12px;
    letter-spacing: 5px;
}

.cb-slideshow {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.cb-slideshow li {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 72s linear infinite 0s;
    -moz-animation: imageAnimation 72s linear infinite 0s;
    -o-animation: imageAnimation 72s linear infinite 0s;
    -ms-animation: imageAnimation 72s linear infinite 0s;
    animation: imageAnimation 72s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) { 
    background-image: url(../img/letter_bg_01.jpg);
    filter: blur(15px);
}

.cb-slideshow li:nth-child(2) { 
    background-image: url(../img/letter_bg_02.jpg);
    filter: blur(15px);
    animation-delay: 12s; 
}

.cb-slideshow li:nth-child(3) { 
    background-image: url(../img/letter_bg_03.jpg);
    filter: blur(15px);
    animation-delay: 24s; 
}

.cb-slideshow li:nth-child(4) { 
    background-image: url(../img/letter_bg_04.jpg);
    filter: blur(15px);
    animation-delay: 36s; 
}

.cb-slideshow li:nth-child(5) { 
    background-image: url(../img/letter_bg_05.jpg);
    filter: blur(15px);
    animation-delay: 48s; 
}

.cb-slideshow li:nth-child(6) { 
    background-image: url(../img/letter_bg_06.jpg);
    filter: blur(15px);
    animation-delay: 60s; 
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.15);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.20);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.40);
	}
	100% { opacity: 0 }
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}

@media screen and (max-width: 600px) { 
    h1 { font-size: 40px }

    p, ul { font-size: 14px }
    
    #typed, h2 { font-size: 16px }

    .cb-slideshow li div h3 { font-size: 80px }

	.tm-content { margin-top: 2rem }
}

@media screen and (max-width: 576px) { 
    h1 { font-size: 30px }

    p, ul { font-size: 14px }

    #typed, h2 { font-size: 16px }

    .cb-slideshow li div h3 { font-size: 80px }
	
	.tm-content { margin-top: 2rem }
}

.active { 
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    position: relative;
    width: 60rem;
    background-color: rgba(27, 31, 34, 0.85);
    border-radius: 4px;
    display: block
}

@-moz-keyframes links {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes links {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-ms-keyframes links {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes links {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-moz-keyframes nav-icons {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes nav-icons {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-ms-keyframes nav-icons {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes nav-icons {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

#links {
    -moz-animation: links 1s 2.25s forwards;
    -webkit-animation: links 1s 2.25s forwards;
    -ms-animation: links 1s 2.25s forwards;
    animation: links 1s 2.25s forwards;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    cursor: default;
    display: inline-block;
    opacity: 0;
    position: relative;
    text-align: center;
    top: -1em;
    vertical-align: middle;
    width: 100%;
}

#links h1 {
    font-size: 4.35em;
    font-weight: 900;
    letter-spacing: -0.035em;
    line-height: 1em;
}

#links p {
    font-size: 1.25em;
    margin: 0.75em 0 0.25em 0;
    opacity: 0.75;
}

#links nav {
    margin: 1.5em 0 0 0;
}

#links nav li {
    -moz-animation: nav-icons 0.5s ease-in-out forwards;
    -webkit-animation: nav-icons 0.5s ease-in-out forwards;
    -ms-animation: nav-icons 0.5s ease-in-out forwards;
    animation: nav-icons 0.5s ease-in-out forwards;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    display: inline-block;
    height: 5.35em;
    line-height: 5.885em;
    opacity: 0;
    position: relative;
    top: 0;
    width: 5.35em;
}

#links nav li:nth-child(1) {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#links nav li:nth-child(2) {
    -moz-animation-delay: 2.75s;
    -webkit-animation-delay: 2.75s;
    -ms-animation-delay: 2.75s;
    animation-delay: 2.75s;
}

#links nav li:nth-child(3) {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

#links nav li:nth-child(4) {
    -moz-animation-delay: 3.25s;
    -webkit-animation-delay: 3.25s;
    -ms-animation-delay: 3.25s;
    animation-delay: 3.25s;
}

#links nav li:nth-child(5) {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

#links nav li:nth-child(6) {
    -moz-animation-delay: 3.75s;
    -webkit-animation-delay: 3.75s;
    -ms-animation-delay: 3.75s;
    animation-delay: 3.75s;
}

#links nav li:nth-child(7) {
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
}

#links nav li:nth-child(8) {
    -moz-animation-delay: 4.25s;
    -webkit-animation-delay: 4.25s;
    -ms-animation-delay: 4.25s;
    animation-delay: 4.25s;
}

#links nav li:nth-child(9) {
    -moz-animation-delay: 4.5s;
    -webkit-animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

#links nav li:nth-child(10) {
    -moz-animation-delay: 4.75s;
    -webkit-animation-delay: 4.75s;
    -ms-animation-delay: 4.75s;
    animation-delay: 4.75s;
}

#links nav a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    border: 0;
    display: inline-block;
}

#links nav a:before {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px #fff;
    display: block;
    font-size: 1.75em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em;
}

#links nav a:hover {
    font-size: 1.1em;
}

#links nav a:hover:before {
    background-color: rgba(255, 255, 255, 0.175);
    color: #fff;
}

#links nav a:active {
    font-size: 0.95em;
    background: none;
}

#links nav a:active:before {
    background-color: rgba(255, 255, 255, 0.35);
    color: #fff;
}

#links nav a span {
    display: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
}