<!DOCTYPE html>
<html>
	<head>
		<title>Gustavo Lisi - Personal</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'img/favico.ico') }}">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/reset.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}"/>
	</head>
	<body>
		<div id="particles-js"></div>
		<ul class="cb-slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div class="container-fluid">
			<div class="row cb-slideshow-text-container">
				<div class="tm-content col section pb-5 pt-2 pt-md-5 d-flex justify-content-center">
					<article class="active mb-5">
						<div id="typed-strings">
							<h2>Introduction...</h2>
						</div>
						<span id="typed"></span>
						<p class="mt-2 mt-md-5">
							I'm a Python developer with a degree in Systems Analysis and Development.
							I started my professional career in 2017 and since then I have been passionate about technology and development.
							Currently my goal is to grow and specialize professionally and also prepare to start a postgraduate course focused on the area of Machine Learning/Data Science, where I can reach new horizons and conquer whatever lies ahead.
							<br><br>
							Main Tools and Technologies: Python, C#, Java, JavaScript, TypeScript, CSS, HTML, ADVPL, Angular, SQL, QlikSense, PowerBI, Git
							<br>
							Main Python Libs and Frameworks: Django, Flask, Tesseract, Plotly, Pandas, Keras, Tensorflow, Transformers
						</p>
						
						<hr style="border-top: 1px solid white; margin: 3rem 0rem;">
						
						<h2>Academic Formation</h2>
						<ul class="mt-5">
							<li>&#9770; Faculdade de Tecnologia - FATEC (2020-2023) - Análise e Desenvolvimento de Sistemas</li>
							<li>&#9770; Universidade de São Paulo - USP (2016-2018) - Física Médica (locked)</li>
						</ul>
						
						<hr style="border-top: 1px solid white; margin: 3rem 0rem;">
						
						<h2>Courses and Certificates</h2>
						<ul class="mt-5">
							<li>&#9770; Computer Science and Programming Using Python (MITx)</li>
							<li>&#9770; Database Design and Programming with SQL (Oracle)</li>
							<li>&#9770; Scientific Computing With Python</li>
							<li>&#9770; Python 3</li>
							<li>&#9770; Django: Autenticações, Formulários, Requisições e Mensagens</li>
							<li>&#9770; Django: Modelos, Rotas e Views</li>
							<li>&#9770; Django: Integração de Modelos</li>
							<li>&#9770; Banco de Dados e Programação SQL</li>
							<li>&#9770; ADVPL Protheus - Fundamental e Avançado</li>
							<li>&#9770; HTTP: Entendendo a Web</li>
							<li>&#9770; Hardware e Redes</li>
						</ul>
						
						<hr style="border-top: 1px solid white; margin: 3rem 0rem;">
						
						<h2>Some Public Projects</h2>
						<div class="d-flex justify-content-around flex-nowrap my-5">
							<div class="order-1">
								<a target="_blank" href="https://trabalheconosco.tracbelagro.com.br" class="fa fa-briefcase fa-2xl"></a>
							</div>
							<div class="order-2">
								<a target="_blank" href="http://suporte.novadigitalizacao.com.br:8181" class="fa fa-tags fa-2xl"></a>
							</div>
							<div class="order-3">
								<a target="_blank" href="https://www.sigmai9.com.br" class="fa fa-coins fa-2xl"></a>
							</div>
							<div class="order-4">
								<a target="_blank" href="http://vrbtecnologia.com.br" class="fa fa-laptop fa-2xl"></a>
							</div>
						  </div>
						<a href="/" title="Back" style="color: white"><i class="fa-solid fa-angles-left"></i></a>
					</article>
					<div class="footer-link-personal my-2 mt-md-0">
						<small>
							<i class="fa-brands fa-space-awesome fa-sm"></i>
							FALL INTO SPACE 
							<i class="fa-brands fa-space-awesome fa-sm"></i>
						</small>
					</div>
				</div>
			</div>
		</div>	
	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/modernizer.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/particles.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/index.js') }}"></script>
</html>
